<mat-card class="my-4 mx-1 px-2 pb-2">
  <mat-card-content>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>format_list_bulleted</mat-icon>&nbsp; Type
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Type"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>price_change</mat-icon>&nbsp; Size
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Size"></app-maintenance-simple>
        </ng-template>        
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>widgets</mat-icon>&nbsp; Discipline
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Discipline"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>report_problem</mat-icon>&nbsp; Critical Level
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Critical Level"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>maps_home_work</mat-icon>&nbsp; Internal Owner
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Internal Owner"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>language</mat-icon>&nbsp; Area Manager
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Area Manager"></app-maintenance-simple>
        </ng-template>      
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>nights_stay</mat-icon>&nbsp; Phase
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Phase"></app-maintenance-simple>
        </ng-template>       
      </mat-tab>
      <mat-tab label="Project">
        <ng-template matTabContent>
          Content 8
        </ng-template>        
      </mat-tab>
      <mat-tab label="Resources Assigment">
        <ng-template matTabContent>
          Content 9
        </ng-template>        
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>   
</mat-card>