<div class="row m-4" style="min-height: 600px;">
  <div class="col-md-12">
    <mat-card class="w-100 p-2">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Overview">
            <ng-template matTabContent>
              <app-overview></app-overview>              
            </ng-template>
          </mat-tab>
          <mat-tab label="Init & scope">
            <ng-template matTabContent>
              Content 2
            </ng-template>
          </mat-tab>
          <mat-tab label="Studies & Eng">
            <ng-template matTabContent>
              Content 3
            </ng-template>
          </mat-tab>
          <mat-tab label="Supply">
            <ng-template matTabContent>
              Content 4
            </ng-template>
          </mat-tab>
          <mat-tab label="Permits">
            <ng-template matTabContent>
              Content 5
            </ng-template>
          </mat-tab>
          <mat-tab label="Project Control">
            <ng-template matTabContent>
              Content 6
            </ng-template>        
          </mat-tab>
          <mat-tab label="Risks">
            <ng-template matTabContent>
              Content 7
            </ng-template>        
          </mat-tab>
          <mat-tab label="Integration">
            <ng-template matTabContent>
              Content 8
            </ng-template>        
          </mat-tab>
          <mat-tab label="Lessons learned">
            <ng-template matTabContent>
              Content 9
            </ng-template>        
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>   
    </mat-card> 
  </div>
</div>