<mat-card class="my-4 mx-1 px-2 pb-2">
  <mat-card-content>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_tree</mat-icon>&nbsp; Position
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Position"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>add_home_work</mat-icon>&nbsp; Area
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Area"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>psychology</mat-icon>&nbsp; Management
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Management"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>groups_3</mat-icon>&nbsp; Type
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Type"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon >business</mat-icon>&nbsp; Company
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="Company"></app-maintenance-simple>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon >diversity_2</mat-icon>&nbsp; SIGPRO Group
        </ng-template>
        <ng-template matTabContent>
          <app-maintenance-simple title="SIGPRO Group"></app-maintenance-simple>
        </ng-template>        
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon >groups</mat-icon>&nbsp; RRHH
        </ng-template>
        <ng-template matTabContent>
          Content 7
        </ng-template>        
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>   
</mat-card> 