<div class="row m-4">
  <div class="col-md-6">
    <app-portfolio-tracker></app-portfolio-tracker>
  </div>
  <div class="col-md-6">
    <app-schedule></app-schedule>  
  </div>
</div>
<div class="row m-4">
  <div class="col-md-12">
    <app-project-health></app-project-health>
  </div>
</div>
<div class="row m-4">
  <div class="col-md-12">
    <app-project-status></app-project-status>
  </div>
</div>
<div class="row m-4">
  <div class="col-md-6">
    <app-risks></app-risks>
  </div>
  <div class="col-md-6">
    <app-project-gantt></app-project-gantt>
  </div>
</div>